/* Стили для полосы вкладок и кнопок */
.admin-header {
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.admin-header h1 {
    margin: 0;
}

#add-game-button {
    background-color: #28A745;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    outline: none;
}

#add-game-button:hover {
    background-color: #218838;
}

/* Стили для панелей с играми и кнопки "Сохранить" */
.game-panel {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.save-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    outline: none;
}

.save-button:hover {
    background-color: #0056b3;
}
