/* Стили для всего сайта */
body {
    background-color: #3c096c;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.game-panel {
    display: flex;
    align-items: center;
    margin: 10px;
}

.game-name {
    flex: 1;
    margin-right: 10px;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.browser-container {
    background-color: #240046;
    width: 80%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.browser-header {
    background-color: #240046;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tab-container {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}


.tab-container::-webkit-scrollbar {
    width: 1px;
}

.tab-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.tab-container::-webkit-scrollbar-thumb {
    background-color: #ff6d00;
    border-radius: 100px;
}

.tab-container::-webkit-scrollbar-thumb:hover {
    background-color: #ff9442;
}



.tab {
    flex: 0 0 auto;
    background-color: #5a189a;
    width: 150px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.tab.active {
    background-color: #17a2b8;
}
.tab-content {
    background-color: #3c096c;
    padding: 20px;
}
.tab-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}


.native-tab-container {
    display: none;
    overflow-x: auto;
}

.native-tab {
    flex: 0 0 auto;
    background-color: #ff6d00;
    width: 150px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
}

.native-tab.active {
    background-color: #17a2b8;
}

.native-content {
    display: none;
    background-color: #4b4b4b;
    padding: 20px;
}

.close-tab-button {
    background-color: #ff6d00;
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 50%;
    margin-left: 5px;
    outline: none;
    flex-shrink: 0;
}
.close-tab-button:hover {
    background-color: #d43939;
}


.save-tab-button {
    background-color: #ff6d00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.save-tab-button:hover {
    background-color: #45a049; /* Темнее зеленый при наведении */
}

/* Стили для кнопки "Удалить вкладку" */
.delete-tab-button {
    background-color: #ff6d00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.delete-tab-button:hover {
    background-color: #d32f2f; /* Темнее красный при наведении */
}

#save-button {
    background-color: #ff6d00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#save-button:hover {
    background-color: #ff8500;
}

#save-icon {
    margin-right: 8px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


label {
    align-self: flex-start;
    display: block;
    font-weight: bold;
    color: #9d4edd;
}

input[type="text"],
input[type="url"] {
    color: #ff9e00;
    width: 100%;
    background-color: #240046;
    padding: 5px;
    border: 0px solid #7b2cbf;
    border-radius: 5px;
}

/* Стили для поля ввода кода */
textarea {
    color: #ff9e00;
    width: 100%;
    height: 260px;
    background-color: #240046;
    padding: 5px;
    border: 0px solid #7b2cbf;
    border-radius: 5px;
    resize: vertical; /* Разрешить изменение высоты текстовой области */
}

#avatar-preview {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}

#banner-preview {
    width: 100px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
}



.highlighted {
    background-color: orange; /* или другой желаемый цвет подсветки */
}

.btn-custom {
    background-color: #5a189a;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-custom:hover {
    background-color: #c8c8c8;
  }
  

  .btn-divider {
    height: 40px; /* Высота разделителя */
    margin: 0 10px; /* Отступы между разделителями и кнопками */
    display: inline-block;
    vertical-align: middle; /* Выравнивание по вертикали */
}

.generate-code-button {
    background-color: #ff6d00;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.generate-code-button:hover {
    background-color: #ff7900;
}