/* Стили для всего сайта */
body {
    background-color: #343a40;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.game-panel {
    display: flex;
    align-items: center;
    margin: 10px;
}

.game-name {
    flex: 1;
    margin-right: 10px;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.browser-container {
    background-color: #212529;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.browser-header {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.browser-title {
    color: white;
    font-weight: bold;
}

#add-tab-button {
    background-color: #28A745;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50%;
    outline: none;
}

#add-tab-button:hover {
    background-color: #218838;
}

.tab-container {
    display: flex;
    background-color: #343a40;
    padding: 5px;
    overflow-x: auto;
}

.tab {
    background-color: #4b4b4b;
    color: white;
    max-width: 200px;
    height: 50px;
    padding: 10px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Этот стиль предотвращает перенос текста на новую строку */
    font-size: 15px;
}



.tab.active {
    background-color: #17a2b8;
}
.tab-content {
    background-color: rgba(255, 255, 255, 0.113);
    padding: 20px;
}
.tab-panel {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}
.close-tab-button {
    background-color: rgba(255, 255, 255, 0.113);
    color: white;
    font-size: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 50%;
    margin-left: 20px;
    outline: none;
}
.close-tab-button:hover {
    background-color: #d43939;
}
#save-button {
    background-color: #6e6e6e;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

#save-button:hover {
    background-color: #353535;
}

#save-icon {
    margin-right: 8px;
}
