.html {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  overflow: hidden;
}


body {
  background-size: cover;
  background: linear-gradient(0deg, #191310, #1a250e);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  .custom-container {
    position: fixed;
    padding: 0px;
    color: rgba(33, 37, 41, 0);
    overflow: hidden;
    z-index: -100;
  }

  .background-tile {
    position: fixed;
    overflow: auto;
    opacity: 0.09;
    text-align: left;
    animation: slideAnima 190s linear infinite;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background: url("assets/img/tile.webp"), var(--bs-border-color-translucent);
  }
  
@keyframes slideAnima {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.col-md-12.mt-3 {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  flex-grow: 1;
  background-color: #542eae00;
  color: white;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 11px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  z-index: 999;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(0deg, #2a2623, #494536); /* Градиентный фон */
  margin-right: 5px; /* Расстояние между кнопками */
}

.btn-primary:last-child {
  margin-right: 0; /* Убираем отступ справа у последней кнопки */
}

    .center-swkg {
      display: inline-block; /* Сделать блоком внутри контейнера */
      color: #ffffff; /* Цвет текста (белый) */
      padding: 10px 20px; /* Внутренний отступ для центрирования текста */
      border-radius: 5px; /* Закругление углов блока */
      font-size: 24px; /* Размер шрифта */
      font-size: 35px;
      font-family: 'Bowlby One', serif;
      z-index: 2;
    }
    
    .minecraftText {
      color: #ffffff; /* Цвет текста (в данном случае, красный) */
      font-size: 36px; /* Размер шрифта */
      font-weight: bold; /* Жирный текст */
      text-transform: uppercase; /* Преобразование текста в заглавные буквы */
      font-family: Arial, sans-serif; /* Шрифт */
    }
  
    #p-element {
      color: rgb(232, 236, 241);
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .container.logo-block {
      background: linear-gradient(90deg, #2c211a, #2e4416);
      padding: 20px;
      border-radius: 25px;
      color: white;
      text-align: center; /* Выравнивание по центру */
    }
    
    .logo-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center; /* Выравнивание по центру по горизонтали */
      margin-bottom: 20px; /* Отступ снизу для разделения с кнопками */
    }
    
    .logo-img {
      width: 38px;
      height: 61px;
    }
    

.container.mod-block{
  background: linear-gradient(90deg, #2c211a, #2e4416);
  padding: 20px;
  border-radius: 25px;
  color: white;
  margin-top: 20px;
  margin-right: 20px; 
  margin-left: 20px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container.content-block {
  background: linear-gradient(90deg, #2c211a, #2e4416);
  padding: 20px;
  border-radius: 25px;
  color: white;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.container.mod-block::-webkit-scrollbar {
  width: 0.5em;
}

.container.mod-block::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0);
}


