.custom-html {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .custom-body {
    background: rgba(255, 255, 255, 0);
    height: 100vh;
    width: 100%;
    overflow-x: hidden;

  }

  .custom-container {
    position: fixed;
    padding: 0px;
    color: rgba(33, 37, 41, 0);
    overflow: hidden;
    z-index: -100;

  }
  
  .background-image {
    position: fixed;
    overflow: auto;
    opacity: .5;
    text-align: left;
    z-index: -99;
    animation: slideAnima 190000s linear infinite;
    height: 100vh;
    width: 100%;
    filter: blur(5px); /* Размытие на 5 пикселей (настройте по вашему желанию) */
    background: linear-gradient(130deg, #141137, #2f204d 100%), #1f0b43;
  }

  .background-tile {
    position: fixed;
    overflow: auto;
    opacity: 0.09;
    text-align: left;
    animation: slideAnima 190s linear infinite; /* Уменьшил значение времени анимации */
    height: 100vh;
    width: 100%;
    background: url("assets/img/tile.webp"), var(--bs-border-color-translucent);
  }
  
@keyframes slideAnima {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

  .game-button {
    position: fixed;
    top: 20px;
    right: 40px;
    left: auto;
    background-color: #542eae00;
    color: white;
    font-size: 23px;
    padding: 10px 20px;
    border-radius: 11px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #7a22ff, #5511cc);
  }
  
  .game-button::before {
    margin-right: 10px;
  }
  
  .game-button:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    color: white; /* Цвет текста */
  }
  
    
    .logo-container {
      z-index: 2;
    }
    
    .logo-link {
      text-decoration: none;
      color: inherit;
    }
    
    .logo-text {
      color: rgb(255, 255, 255);
      font-size: 45px;
      margin: 10px;
      font-family: 'Bowlby One', serif;
      z-index: 2;
    }
    
    .logo-img {
      margin: 13px;
    }
    
    .text-container {
      /*max-width: 350px;*/
      margin: 0px;
      margin-top: 0px;
      margin-left: 5%;
    }
    
    #h1-element {
      color: rgb(234, 237, 241);
      font-size: 17.455px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    #p-element {
      color: rgb(232, 236, 241);
      font-size: 12px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    
    .button-list li {
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.3s ease;
        position: relative;
        padding: 10px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        animation: buttonBreathing 3s infinite ease-in-out;
      }
      
      .button-list li button {
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform 0.3s ease;
        position: relative;
        animation: buttonBreathing 3s infinite ease-in-out;
      }
      
      .button-list li img, #yandex_rtb_R-A-2697791-2 iframe {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
      
      .button-list li:hover {
        transform: scale(1.05);
      }
      
      .image-text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 10px;
        transition: opacity 0.3s ease;
        pointer-events: none;
      }
      
      .button-list li:hover .image-text {
        opacity: 1;
      }
      
      .app-tiles-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 25px;
        max-height: 100%;
        background-color: rgba(0, 0, 0, 0);
        overflow-y: auto;
        scrollbar-width: none;
        width: fit-content;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .app-tiles-container::-webkit-scrollbar {
        width: 0;
        margin-left: 10px;
      }
      
      .app-title {
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        margin-top: 5px;
      
      }
      
      .app-tile {
        background-color: rgba(0, 0, 0, 0);
        text-align: center;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .app-tile img {
        width: 180px;
        height: 180px;
        object-fit: cover;
        border: 5px solid rgb(65, 137, 21);
        border-radius: 25px;
        animation: pulse 3s ease infinite;
        transition: transform 0.3s ease;
      }
      
      .app-tile:hover img {
        animation: breathe 3s ease infinite, pulse 3s ease infinite;
        transform: scale(1);
      }
      
      @keyframes breathe {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
      }
      
      @keyframes pulse {
        0%, 100% {
            border-image-slice: 1;
            box-shadow: 0 0 10px rgb(64, 128, 0);
            border-radius: 40%;
        }
        50% {
            border-image-slice: 1;
            box-shadow: 0 0 30px rgb(164, 255, 36);
            border-radius: 30%;
        }
      }
      
      @media screen and (max-width: 1100px) {
        .app-tiles-container {
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }
      }
      
      @media screen and (max-width: 1100px) {
        .app-tile img {
            width: 150px;
            height: 150px;
            border-radius: 10px;
            margin: 5px 5px;
        }
      }
      
      @media screen and (max-width: 1000px) {
        .app-tiles-container {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
      }
      
      @media screen and (max-width: 1000px) {
        .app-tile img {
            width: 120px;
            height: 120px;
            border-radius: 10px;
            margin: 5px 5px;
        }
      }
      
      @media screen and (max-width: 800px) {
        .app-tiles-container {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }
      }
      
      @media screen and (max-width: 800px) {
        .app-tile img {
            width: 110px;
            height: 110px;
            border-radius: 10px;
            margin: 5px 5px;
        }
      }
      
      @media screen and (max-width: 600px) {
        .app-tiles-container {
            grid-template-columns: repeat(3, 1fr);
            gap: 1px;
        }
      }
      
      @media screen and (max-width: 600px) {
        .app-tile img {
            width: 70px;
            height: 70px;
            border-radius: 1px;
            margin: 1px 1px;
        }
      }
      
      
      @media (max-width: 768px) {
        .button-list.horizontal {
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
        }
        
        .button-list li, #yandex_rtb_R-A-2697791-2 {
            flex: 1 1 calc(50% - 10px);
            margin: 5px;
        }
      }
      
      @media (min-width: 769px) {
        .button-list.horizontal {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            max-width: 1200px;
            margin: 0 auto;
        }
        
        .button-list li, #yandex_rtb_R-A-2697791-2 {
            flex: 1 1 auto;
            margin: 0;
        }
      }
      
      /* Добавляем анимацию для кнопок */
      @keyframes buttonBreathing {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.01);
        }
      }
      
    @keyframes jump {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
    }