.html {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

body {
    background-size: cover;
    background-color: transparent;
    background: linear-gradient(45deg, #ffc300, #ffd60a);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    overflow-y: visible;
    overflow-x: hidden;

}



.custom-container {
    position: fixed;
    padding: 0px;
    color: rgba(33, 37, 41, 0);
    overflow: hidden;
}

.background-tile {
    position: fixed;
    overflow: hidden;
    opacity: 0.09;
    text-align: left;
    animation: slideAnima 50s linear infinite;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: url("assets/img/tile.webp"), var(--bs-border-color-translucent);
}

@keyframes slideAnima {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 100% 0;
    }
}

.col-md-12.mt-3 {
    display: flex;
    justify-content: space-between;
}

.btn-primary {
    flex-grow: 1;
    background-color: #542eae00;
    color: rgba(255, 255, 255, 0.937);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 11px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    border: none;
    background: linear-gradient(90deg, #001d3dca, #59189a5c);

}

/* Не изменяйте цвет при наведении */
.btn-primary:hover {
    background-color: #542eae00;
    background: linear-gradient(90deg, #001d3dca, #59189a5c);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn-primary:active {
    background-color: #542eae00;
    background: linear-gradient(90deg, #001d3dca, #59189a5c);
    transform: scale(0.95);
}

.btn-primary-home {
    color: white;
    font-size: 20px;
    left: 1;
    width: auto;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 11px;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    border: none;
    /* background: linear-gradient(90deg, #001d3dca, #59189a5c); */
}


.btn-primary:last-child {
    margin-right: 0;
}


.center-swkg {
    color: #ffffff;
    padding: 1px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Bowlby One', serif;
    z-index: 2;
}

.logo-img {
    margin-top: 10px;
    width: auto;
    height: 50px;
}

.minecraftText {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Baloo Bhaijaan', cursive;

}

.text-uppercase {
    font-size: 20px;
}


.container.logo-block {
    background: linear-gradient(90deg, #3e004ea4, #52005e4c);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 0 0 25px 25px;
    text-align: center;

}

.container.logo-block-down {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(90deg, #3e004ea4, #52005e4c);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 25px 25px 0px 0px;
    text-align: center;
}




.container.content-block {
    background: linear-gradient(90deg, #3e004ea4, #52005e4c);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 25px;
    color: white;

    font-family: 'Baloo Bhaijaan', cursive;

}

.container.mod-block::-webkit-scrollbar {
    width: 0.5em;
}

.container.mod-block::-webkit-scrollbar-thumb {
    background-color: rgba(169, 169, 169, 0);
}


.content-block {
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
  }

  .toggle-content {
    overflow: hidden;
    max-height: 30px;
    transition: max-height 0.3s ease-in-out;
  }

  .promocode-text {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    font-family: 'Baloo Bhaijaan', cursive;

  }

  .promocode-value {
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }