/* Стили для кнопки "ИГРА" */
.game-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #7a22ff; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 11px;
    text-decoration: none; /* Убираем подчеркивание */
    transition: transform 0.2s ease-in-out; /* Анимация при наведении */
    z-index: 999; /* Высокий z-index, чтобы кнопка была поверх всего */

  }
  
  .game-button:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    color: white; /* Цвет текста */

  }
  
  
  /* Дополнительные стили для анимации */
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  