.custom-html {
  width: 100%;
  height: 100vh;
  background: rgb(40, 21, 116);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom-body {
  background: rgba(255, 255, 255, 0);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  opacity: .6;
  filter: blur(1px);
}

.custom-container {
  position: fixed;
  padding: 0px;
  color: rgba(33, 37, 41, 0);
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: fixed;
  overflow: auto;
  opacity: 1;
  text-align: left;
  /*z-index: 1;*/
  animation: slideAnima 190000s linear infinite;
  height: 100vh;
  width: 100%;
  background: linear-gradient(130deg, #141137, #2f204d 100%), #1f0b43;
}

.background-tile {
  position: fixed;
  overflow: auto;
  opacity: 0.09;
  text-align: left;
  animation: slideAnima 190s linear infinite; /* Уменьшил значение времени анимации */
  height: 100vh;
  width: 100%;
  background: url("assets/img/tile.webp"), var(--bs-border-color-translucent);
}

/* Стили для контейнера кнопок */
.button-container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px; /* Расположение сверху страницы */
  right: 40px; /* Расположение справа */
}

/* Стили для кнопки "ИГРА" */
.game-button,
.minecraft-button {
  background-color: #542eae;
  color: white;
  font-size: 23px;
  padding: 10px 20px;
  border-radius: 11px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #7a22ff, #5511cc);
  /* margin-right: 10px; */
}

.minecraft-button.disabled {
  opacity: 0.5; /* Уменьшение прозрачности */
  pointer-events: none; /* Отключение событий указателя */
}


.game-button::before,
.minecraft-button::before {
  margin-right: 10px;
}

.game-button:hover,
.minecraft-button:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  color: white; /* Цвет текста */
}


@media screen and (max-width: 600px) {
  .game-button,
  .minecraft-button {
    font-size: 15px;
    padding: 8px 8px;
    margin-right: none;
    margin: 1px;
  }
}


  
  .logo-container {
    z-index: 2;
    background: linear-gradient(to bottom, #160c2a, #3b1e6c);
    margin-bottom: 30px;
    padding: 50px;
    border-radius: 0 0 25px 25px ;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .logo-link {
    text-decoration: none;
    color: inherit;
  }
  
  .logo-text {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Bowlby One', serif;
    z-index: 2;
    padding: 5px;

  }
  
  .logo-img {
    /* margin: 13px; */
    /* height: 80px; */
    /* width: auto; */
    /* padding: 5px; */
  }
  
  .text-container {
    /*max-width: 350px;*/
    margin: 0px;
    margin-top: 0px;
    margin-left: 5%;
  }
  
  #h1-element {
    color: rgb(234, 237, 241);
    font-size: 17.455px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #p-element {
    color: rgb(232, 236, 241);
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Черный полупрозрачный фон */
    z-index: 9999; /* Панель поверх всего остального */
}

/* Стили для диалога */
.custom-dialog {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  z-index: 10000;
}

/* Стили для кнопки */
.custom-dialog button {
  width: 20%;
  display: block;
  cursor: pointer;
  background-color: #542eae;
  color: white;
  font-size: 14px;
  margin: 25px auto;
  padding: 10px 20px;
  border-radius: 11px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #7a22ff, #5511cc);
}

.custom-dialog button:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  color: white; /* Цвет текста */
}
  
  /* Дополнительные стили для анимации */
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes slideAnima {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0; /* Изменено значение для плавного плывущего эффекта */
    }
  }
  