.custom-html {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #2d2047, #462e70);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.custom-body {
  background: transparent;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}


.custom-container {
  position: fixed;
  padding: 0px;
  color: rgba(33, 37, 41, 0);
  overflow: hidden;
  z-index: -1;
}

.background-image {
  position: fixed;
  overflow: auto;
  opacity: 1;
  text-align: left;
  animation: slideAnima 190000s linear infinite;
  height: 100vh;
  width: 100%;
  background: linear-gradient(130deg, #1b0daa, #2f204d 100%), #1f0b43;
}


.background-tile {
  position: fixed;
  overflow: auto;
  opacity: 0.09;
  text-align: left;
  animation: slideAnima 190s linear infinite; /* Уменьшил значение времени анимации */
  height: 100vh;
  width: 100%;
  background: url("assets/img/tile.webp"), var(--bs-border-color-translucent);
}

.mt-2 {
  display: flex;
  justify-content: space-between;
}

.game-button,
.minecraft-button,
.promocode-button {
  flex: 1;
  background-color: #542eae;
  color: white;
  font-size: auto;
  border-radius: 11px;
  padding: 10px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Добавлено свойство color для эффекта при наведении */
  z-index: 999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 5px;
  background: linear-gradient(to top, #2d2047, #462e70);
  cursor: pointer;
}

.game-button::before,
.minecraft-button::before,
.promocode-button::before {
  margin-right: 10px;
}

.game-button:hover,
.minecraft-button:hover,
.promocode-button:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  color: white; /* Цвет текста */
}

.game-button:active,
.minecraft-button:active,
.promocode-button:active {
  transform: scale(1); /* Возвращение к обычному размеру при клике */
  color: white; /* Цвет текста */
}

.minecraft-button.disabled {
  opacity: 0.5; /* Уменьшение прозрачности */
  pointer-events: none; /* Отключение событий указателя */
}

  .logo-container {
    z-index: 2;
    background: linear-gradient(to bottom, #2d2047, #462e70);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 0 0 25px 25px ;
    margin-right: 20px;
    margin-left: 20px;
  }
  
  .logo-link {
    text-decoration: none;
    color: inherit;
  }
  
  .logo-text {
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-family: 'Bowlby One', serif;
    z-index: 2;

  }
  
  .logo-img {
    height: 80px;
    width: auto;
    /* padding: 10px; */
    /* margin: 10px; */
    margin-bottom: 20px;
  }
  
  
  #h1-element {
    color: rgb(234, 237, 241);
    font-size: 17.455px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  #p-element {
    color: rgb(232, 236, 241);
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Черный полупрозрачный фон */
    z-index: 9999; /* Панель поверх всего остального */
}

/* Стили для диалога */
.custom-dialog {
  position: absolute;
  top: 50%;
  color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 20px;
  font-size: 25px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
  z-index: 10000;
}

/* Стили для кнопки */
.custom-dialog button {
  width: 20%;
  display: block;
  cursor: pointer;
  background-color: #542eae;
  color: white;
  font-size: 14px;
  margin: 25px auto;
  padding: 10px 20px;
  border-radius: 11px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to bottom, #7a22ff, #5511cc);
}

.custom-dialog button:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  color: white; /* Цвет текста */
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}

/* Стили для кнопки Копировать */
#copyButton {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

  
  /* Дополнительные стили для анимации */
  @keyframes jump {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes slideAnima {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -100% 0; /* Изменено значение для плавного плывущего эффекта */
    }
  }
  