html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #16011d, #5c21b5, #260a44, #7e57b7);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.music-icon {

    font-size: 50px !important;
    color: #fff; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); /* Тень текста */
    transform: translateZ(4px);
    margin-top: 30px;
}
.music-icon:active {
    text-shadow: none;
    transform: translateZ(1px);

}



.video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 0.3;

}
.video1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    opacity: 0.4;

}


.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #b867ff64;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 0px 4px 0px 2px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    
}


#loginForm {
    background-color: #572c92;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 -3px 0px 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  }

  
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стиль для текста меток */
label {
    position: relative;
    font-size: 20px;
    color: #ffffff8c;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: -35px;
    top: -8px;
    transform: translateZ(4px);
    /* text-shadow: 0px -2px 0px #7a39b4; */
}



input[type="text"],
input[type="password"] {
    /* width: 100%; */
    padding: 10px;
    background-color: #432273;
    display: block;
    color: #fff;
    margin: 0 auto;
    border: none;
    box-shadow: 0 -3px 0px #7a39b4;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #9b59b6;
    color: #432273;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 3px 0px rgb(202, 105, 228);
    cursor: pointer;
}

input[type="submit"]:active {
    box-shadow: 0 -3px 3px #552862;
    box-shadow: inset 0 3px 0px #4e225a;
    background-color: #723c9f;
    color: #9f75dd;

  }


.logo {
    margin-top: 20px;
    font-size: 18px;
    color: #888;
}

.logo p {
    font-family: "Arial Black", sans-serif;
    font-size: 24px;
}
