/* GooglePlayGames.css */

.phone-container {
  width: 100vw;
  height: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.47);
  overflow: hidden;
}

.app-tiles-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0);
  overflow-y: auto;
  scrollbar-width: none;
}

.app-tiles-container::-webkit-scrollbar {
  width: 0;
}

.app-tile {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.app-tile img {
  width: 180px;
  height: 180px;
  padding: 10px;
  object-fit: cover;
  border-radius: 25px;
}

.app-tile-title {
  font-size: 12px;
  color: #ffffff;
  margin-top: 5px;
  white-space: normal;
}

/* Адаптивные стили */

@media screen and (max-width: 800px) {
  .app-tiles-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
  }
}

@media screen and (max-width: 600px) {
  .app-tiles-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
}

