.app-tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .app-tile {
    border-radius: 10px;
    padding: 25px;
    overflow: hidden;
    color: white;
    transition: transform 0.3s ease;
    position: relative;
    animation: buttonBreathing 3s infinite ease-in-out;
    text-align: center;
    cursor: pointer;
    width: 100%;
    max-width: 150px;
  }
  
  .app-title {
    margin-top: 10px;
    font-size: 12px;
  }
  
  .app-tile img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 5px solid rgb(65, 137, 21);
    border-radius: 25px;
    animation: pulse 3s ease infinite;
    transition: transform 0.3s ease;
  }
  
  .app-tile:hover {
    transform: scale(1.05);
  }
  
  .app-tile:hover img {
    animation: breathe 3s ease infinite, pulse 3s ease infinite;
    transform: scale(1);
  }


  @keyframes breathe {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
  }
  
  @keyframes pulse {
    0%, 100% {
        border-image-slice: 1;
        box-shadow: 0 0 5px rgb(64, 128, 0);
        border-radius: 20%;
    }
    50% {
        border-image-slice: 1;
        box-shadow: 0 0 15px rgb(164, 255, 36);
        border-radius: 30%;
    }
  }
  